.LeafletBox {
	margin: 5%;
	width: 90%;
	height: 500px;
	overflow-y: hidden; 
	overflow-x: auto; 
	white-space: nowrap;
}
.LeafletBt {
	width:60px;
	height: 30px;
}
.LeafletImgBox {
	height: 200px;
}
#LeafletImg {
	height: 200px;
}
.HeadImgBox {
	height: 160px;
}
#HeadImg {
	height: 160px;
}