.ShowDetailDataBox {
	width: 90%;
	height: 90%;
	border-radius: 10px;
	background-color: #87cefa;
	overflow-x: hidden; 
	overflow-y: auto; 
	white-space: nowrap;
}
.ShowDetailDataBoxDetail {
	width: 90%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
.ShowDetailInput {
	border-radius: 5px;
	background:-webkit-linear-gradient(top,#F0F0F0,#FCFCFC);
	background:-moz-linear-gradient(top,#F0F0F0,#FCFCFC);
	border:0px solid;
	width: 160px;
	height: 26px;
	font-size: 16px;
}
.ShowDetailTextarea {
	margin-top: 5px;
	width: 240px;
	height: 120px;
	border-radius: 5px;
	font-size: 16px;
	background:-webkit-linear-gradient(top,#F0F0F0,#FCFCFC);
	background:-moz-linear-gradient(top,#F0F0F0,#FCFCFC);
	border:0px solid;
}
.ShowDetailInputBox {
	height: 36px;
	line-height: 36px;
}
.ShowDetailShowImg {
	width: 240px;
	height: 200px;
}
